###############################################################################
#                                                                             #
#                       Server Mode Settings                                  #
#                                                                             #
###############################################################################
GITHUB_ACCESS_TOKEN=""

CURRENT_MODE="live"
DEV_BOT="vorago-bot"
LIVE_BOT="voragopremium"

###############################################################################
#                                                                             #
#                       Discord Bot API Tokens                                #
#                                                                             #
###############################################################################

VORAGO_BOT_TOKEN=""
VORAGOPREMIUM_TOKEN=""
VORAGO_STRATEGIES_TOKEN=""
